body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#container, #story, #header, #main, .content {
  display: flex;
  flex-direction: column;
}

#nav-bar, #head-right, #name, #head {
  display: flex;
  flex-direction: row;
}

#header {
  color: #ffffff;
}

#head {
  background-color: #1f1f1f;
  padding: 0 0 2% 2%;
}

#head p {
  margin: 0;
  padding-top: 5%;
  font-size: 1.2em;
}

#head-left {
  display: flex;
  padding-left: 1%;
}

#head-middle {
  width: 14%;
}

#head-right {
  padding-top: 2%;
}

#lang-selector {
  padding-top: 8%;
}

#lang {
  font-size: 1em;
  margin: 5% 5% 0 0;
}

#flag {
  margin: 0 6%;
}

#flag img {
  width: 25px;
}

#nav-bar {
  background-color: black;
  padding: 10px 0 3px 7px;
}

#menu-button {
  font-size: 40px;
}

#contact-me {
  width: 147px;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding: 1em 2em;
  line-height: 1;
  font-size: 1em;
  color: #ffffff;
  background-color: #6cabdd;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
  cursor: pointer;
}

#contact-me:hover {
    background-color: #4c99d6;
}

#contact-me:active {
    transform: scale(0.98);
}

#main {
  background: linear-gradient(150deg, #dcebf7, #fcdcd9);
  padding: 24px 32px;
}

#bio img {
  height: 337px;
}

.content {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 3px 10px #d3d3d3;
}

#story {
  background-color: #ffffff;
  padding: 24px;
}

#code-icon {
  margin: 4% 3% 0 1%;
  font-size: 24px;
}

#name p {
  margin: 4% 0 0;
  font-size: 1.3em;
  font-weight: 400;
}

#primary-skills p {
  font-family: 'Zilla Slab', serif;
  margin: 2% 0;
  color: #b51b10;
  font-size: .9em;
  padding: 3px 7px;
  background: #f0f0f0;
  width: 230px;
  border-radius: 8px;
}

#footer {
  display: flex;
}

.grey {
  color: #aeaeae;
}

#nav-spacer {
  width: 48%;
}

.bold {
  font-weight: 500 !important;
}

.thin {
  font-weight: 300 !important;
}
/* large phone/tablet styles*/
@media screen and (min-width: 400px) {

}
/* large tablet/desktop styles */
@media screen and (min-width: 920px) {
  #main {
    flex-direction: row;
  }
}


